div.contextBasedActionSwitch {
    padding-left: 1px;
    padding-right : 1px;
    padding-top: 1px;
    padding-bottom: 2px;
    border-color: crimson;
    border-style: solid;
    background-color: lightcoral;
}