div.logicalNodeFunction {
    padding-left: 1px;
    padding-right : 1px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-color: cadetblue;
    border-style: solid;
    background-color: paleturquoise
}