/*div.logicalReaderReturn {
    border-color: black;
    border-style: solid;    
    background-color: ghostwhite;
    margin-bottom: 20px;
}*/
div.container-fluid {
    padding-bottom: 2px;
}
div.LogicalNode {
    border-color: blueviolet;
    border-style: solid;
    background-color: lightblue;
    margin-bottom: 20px;
}
div.LogicalConnection {
    border-color: greenyellow;
    border-style: solid;
    background-color: linen;
    margin-bottom: 20px;
}
div.LogicalJump {
    border-color: brown;
    border-style: solid;
    background-color: burlywood;
    margin-bottom: 20px;
}
div.LogicalThreadControl {
    border-color: crimson;
    border-style: solid;
    background-color: rosybrown;
    margin-bottom: 20px;
}